@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.links{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    transition: transform 0.5s;
    color: black;
}

.links:hover{
    transform: scale(1.2);
    
}